
.holder{
    width: 500px;
    height: 50px;
    border-style: solid;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
:nth-child(1){
    order: 1;
    width: 50%;
    flex-grow: 1;
/* background-color: red; */
}
:nth-child(2){
    order: 4;
    width: 33%;
    /* background-color: blue; */
}
:nth-child(3){
    order: 3;
    width: 33%;
    background-color: blueviolet;
}
:nth-child(4){
   order: 5;
   width: 33%;
   background-color: green;
}
:nth-child(5){
order: 2;
width: 50%;
background-color: yellow;
} 
.item{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
